@using Postback.UI.WebApp.Extensions
@model Postback.UI.WebApp.ViewModels.QuadroAtivoVm
@{
    ViewBag.Title = "Quadro de Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.QuadroDescricao</h1>

<ul class="template centralizado">
    @foreach (var categoria in Model.Grupos.GroupBy(x => x.Categoria))
    {
        <li data-categoriaid="@categoria.Key.Id" class="categoria">
            <h2>@categoria.Key.Descricao</h2>

            @foreach (var grupo in Model.Grupos.Where(x => x.Categoria.Descricao == categoria.Key.Descricao))
            {
                <ul data-tag="@grupo.Assunto" class="agrupamento grupo">
                    @foreach(var postIt in grupo.PostIts)
                    {
                        <li class="postIt" style="border-left: solid 5px @categoria.Key.CorHexadecimal;">
                            <p class="conteudo">@postIt.Conteudo</p>
                            <p class="hashtag">#@postIt.Tag.Nome.ToHashTag()</p>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>

@section scripts {

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.2.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>

        $(function () {

            $.connection.hub.start();

            var hub = $.connection.postItHub;

            hub.client.novoPostIt = function (conteudo, tagNome, tagNomeToHashTag, categoriaId, categoriaCor) {

                var postIt = "<li class='postIt' style='border-left: solid 5px " + categoriaCor +
                             ";'><p class='conteudo'>" + conteudo + "</p><p class='hashtag'>#" + tagNomeToHashTag + "</p></li>";

                var grupo = $("li[data-categoriaid=" + categoriaId + "] ul[data-tag='" + tagNome + "']");
                if (grupo.length == 0) {
                    postIt = "<ul data-tag='" + tagNome + "' class='agrupamento grupo'>" + postIt + "</ul>";

                    $("li[data-categoriaid=" + categoriaId + "]").append(postIt);
                    return;
                }

                grupo.append(postIt);

            };
        })

    </script>
}