<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/lib/css/format.css" rel="stylesheet" />
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <div class="master">

        <div class="topo">
            <div class="centralizado">
                <img src="@Url.Content("~/Content/img/logo-postback.jpg")" alt="PostBack">
                <div class="adicionar"></div>
            </div>
        </div>

        <div class="content centralizado">

            @RenderBody()

        </div>



        <div class="rodape">
            <div class="centralizado">
                <span class="conteudo">#PostBack - hackathon 2.0</span>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
