<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/lib/css/format.css" rel="stylesheet" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="topo">
        <div class="centralizado">
            <img src="@Url.Content("~/Content/img/logo-postback.jpg")" alt="PostBack">
            <div class="adicionar"></div>
        </div>
    </div>
    <div class="content centralizado">
        <h1>FeedBack hackathon 2.0</h1>
        @RenderBody()

        <ul class="template centralizado">
            <li class="categoria">
                <h2>Bom</h2>

                <!-- #evento -->
                <ul class="agrupamento primeiraCategoria">
                    <li class="postIt">
                        <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut arcu non lectus viverra </p>
                        <p class="hashtag">#Evento</p>
                    </li>
                    <li class="postIt">
                        <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut arcu non lectus viverra </p>
                        <p class="hashtag">#Evento</p>
                    </li>
                    <li class="postIt">
                        <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut arcu non lectus viverra </p>
                        <p class="hashtag">#Evento</p>
                    </li>
                    <li class="postIt">
                        <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut arcu non lectus viverra </p>
                        <p class="hashtag">#Evento</p>
                    </li>
                </ul>

                <!-- #feedback -->
                <ul class="agrupamento primeiraCategoria">
                    <li class="postIt">
                        <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut arcu non lectus viverra </p>
                        <p class="hashtag">#Evento</p>
                    </li>
                    <li class="postIt">
                        <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut arcu non lectus viverra </p>
                        <p class="hashtag">#Evento</p>
                    </li>
                </ul>
            </li>

            <li class="categoria">
                <h2>Melhorar</h2>
                <ul class="agrupamento segundaCategoria">
                    <li class="postIt">
                        <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut arcu non lectus viverra </p>
                        <p class="hashtag">#Evento</p>
                    </li>

                </ul>
            </li>

            <li class="categoria">
                <h2>Aprendi</h2>
                <ul class="agrupamento terceiraCategoria">
                    <li class="postIt">
                        <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut arcu non lectus viverra </p>
                        <p class="hashtag">#Evento</p>
                    </li>
                    <li class="postIt">
                        <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut arcu non lectus viverra </p>
                        <p class="hashtag">#Evento</p>
                    </li>
                    <li class="postIt">
                        <p class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut arcu non lectus viverra </p>
                        <p class="hashtag">#Evento</p>
                    </li>
                </ul>
            </li>

        </ul>
    </div>

    <div class="rodape">
        <div class="centralizado">
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
